body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p.botlink {
  font-family: arial;
  font-size: 15px;
}

.linktable {
  width: 100%;
  padding-left: 10%;
}

.ColHeader {
  width: 25%;
}

